{% load i18n %}
<div class="team" data-toggle="collapse" data-target="#Action_complexity">
    <div>
        <div id="teampanel" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle">
                        {% trans 'Action Complexity' %}
                        <span class="glyphicon pull-right glyphicon-chevron-up"></span>
                    </a>
                </h4>
            </div>
            <div id="Action_complexity" class="panel-collapse collapse" style="height: auto;">
                {% if perms.vulns.add_vulnactionn_complexity %}

                    <a href="{% url 'action_add'  'action_complexity' %}" class="btn btn-primary pull-right">
                        <span class="glyphicon glyphicon-pencil"></span> {% trans 'Add Action Complexity' %}
                    </a>
                {% endif %}
                <div class="panel" id="vulns_div">
                    <div class="table-responsive">
                        <table class="table table-bordered   table-condensed ">
                            <thead>
                            <tr>
                                <th>{% trans 'Ref' %}</th>
                                <th>{% trans 'Name' %}</th>
                                <th>{% trans 'Color' %}</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for action_complexity in action_complexity %}
                                <tr>
                                    <td>{{ action_complexity.id }}</td>
                                    <td>{{ action_complexity.action_complexity }}</td>
                                    <td bgcolor="{{ action_complexity.color }}"></td>
                                    {% if perms.vulns.add_vulnactionn_complexity %}

                                        <td>
                                            <a href="{% url 'action_edit' action_complexity.pk 'action_complexity' %}"
                                               class="glyphicon glyphicon-edit"></a>

                                            <a href="{% url 'action_delete' action_complexity.pk 'action_complexity' %}"
                                               class="glyphicon glyphicon-remove"></a>

                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>