{% load i18n %}
{% load humanize %}

<div class="team" data-toggle="collapse" data-target="#teambody">

    <div>
        <div id="teampanel" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle">
                        {% trans 'Project Team' %}
                        <span class="glyphicon pull-right glyphicon-chevron-up"></span>
                    </a>
                </h4>
            </div>
            <div id="teambody" class="panel-collapse collapse" style="height: auto;">


            </div>
        </div>
    </div>
</div>
