{% load i18n %}
{% load humanize %}

{% block head %}


    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dataTables.tableTools.css">

    <!-- DataTables-->
    <script type="text/javascript" charset="utf8" src="{{ STATIC_URL }}js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="{{ STATIC_URL }}js/dataTables.bootstrap.js"></script>
    <script type="text/javascript" charset="utf8" src="{{ STATIC_URL }}js/dataTables.tableTools.js"></script>


{% endblock head %}

<div class="row">
    <div class="col-md-12">
        <div class="vulns">
            <a href="{% url 'load' %}" class="btn btn-primary pull-right">
                <span class="glyphicon glyphicon-plus"></span> {% trans "Load new vuln" %}
            </a>
            <a href="{% url 'p_add_vuln' %}" class="btn btn-primary pull-right">
                <span class="glyphicon glyphicon-pencil"></span> {% trans 'Add unexisting vulnnerability' %}
            </a>


            <h3 class="page-header"> {% trans 'Vulnerabilities Table' %}</h3>


            <section class="vulns">
                <div id="vulns_div" class="table-responsive">
                    <table class="table table-bordered  table-hover table-condensed" id="vulns_table">
                        <thead>
                        <tr>
                            <th>{% trans 'Ref' %}</th>
                            <th>{% trans 'Category' %}</th>
                            <th>{% trans 'Afected Item' %}</th>
                            <th>{% trans 'Vulnerability' %}</th>
                            <th>{% trans 'Severity' %}</th>
                            <th>{% trans 'Type' %}</th>
                            <th>{% trans 'Expl impact ' %}</th>
                            <th>{% trans 'Action priority ' %}</th>
                            <th>{% trans 'Action complexity ' %}</th>
                            <th>{% trans 'Date' %}</th>
                            <th>{% trans 'user' %}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for vuln in vulns %}
                            <tr>
                                <td><a href="{% url 'p_show_vuln' vuln.pk %}">{{ vuln.pk }}</a></td>
                                <td class="info">{{ vuln.category }}</td>
                                <td>
                                    {% if vuln.get_items_tags %}
                                        <div class="tags">
                                            {% for tag in vuln.get_items_tags %}
                                                <a href="{% url 'item_tag' tag %}"><span
                                                        class="label label-default">{{ tag }}</span></a>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </td>
                                <td><a href="{% url 'p_show_vuln' vuln.pk %}">{{ vuln.vulnerability }}</a></td>
                                <td class="danger">{{ vuln.get_severity }}</td>
                                <td class="info">{{ vuln.type }}</td>
                                <td class="danger">{{ vuln.exploitation_impact }}</td>
                                <td>{{ vuln.get_action_priority }}</td>
                                <td>{{ vuln.action_complexity }}</td>
                                <td>{{ vuln.create_date | date:"m/d" }}</td>
                                <td>{{ vuln.create_user }}</td>
                                <td>
                                    <a href="{% url 'p_edit_vuln' vuln.pk %}"
                                       class="glyphicon glyphicon-edit"></a>
                                    <a href="{% url 'p_delete_vuln' vuln.pk %}"
                                       class="glyphicon glyphicon-remove"></a>
                                </td>
                            </tr>
                        {% empty %}

                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </section>

        </div>

    </div>


</div>


<script>
    $(document).ready(function () {
        $('#vulns_table').DataTable(
                {
                    "dom": 'T<"clear">lfrtip',
                    "tableTools": {
                        "sSwfPath": "/static/swf/copy_csv_xls_pdf.swf",
                        "aButtons": [
                            "copy",
                            "print",
                            {
                                "sExtends": "collection",
                                "sButtonText": "Save",
                                "aButtons": [ "csv", "xls", "pdf" ]
                            }
                        ]
                    }
                }
        );
    });
</script>